{% extends "base.html" %}
{% block title %}
Selection
{% endblock %}
{% block content %}

    <script defer src="../static/prompt.js"></script>

<div class="promptH3">
    <h1 id="Search" >What type of arithmetic would you like to practice?</h1>
</div>


<ul class="promptButtons">
    <li><button id="addition" type="submit" class="btn btn-danger btn-lg mr-1 prompt">Addition</button></li>
    <li><button id="subtraction" type="submit" class="btn btn-danger btn-lg mr-1 prompt">Subtraction</button></li>
    <li><button id="multiplication" type="submit" class="btn btn-danger btn-lg mr-1 prompt">Multiplication</button></li>
    <li><button id="everything" type="submit" class="btn btn-danger btn-lg mr-1 prompt">Everything</button></li>
</ul>










{% endblock %}.